.no-property-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-property-img{
    height: 50%;
    width: 50%;
}

.no-property-info{
    color: var(--color_white);
    font-size: var(--user-name-dashboard);
    font-family: var(--font-family);
    font-weight: var(--weight-regular);
    margin-top: 30px;
    line-height: 40px;
    text-align: center;
}

@media(min-width: 1024px){
    .no-property-img{
        height: 20%;
        width: 20%;
    }
    
    .no-property-info{
        color: var(--color_white);
        font-size: var(--page-tittle-font-size);
        font-family: var(--font-family);
        font-weight: var(--weight-regular);
        margin-top: 30px;
    }
}