.wrap-home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.info-div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: var(--color_brand1);
    gap: 30px;
}

.forms-div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
     background-color: var(--color_modal_bg);
}

.page-title{
    color: var(--color_white);
    font-size: var(--form-title-font-size);
    font-family: var(--font-family);
    font-weight: var(--weight-semi_bold);
    margin-top: 30px;
}

.page-sub-title{
    color: var(--color_white);
    font-size: var(--form-btn-font-size);
    font-family: var(--font-family);
    font-weight: var(--weight-regular);
    width: 80%;
    line-height: 30px;
    text-align: center;
}

.my-img{
    width: 80%;
    height: 60%;
}

.wrap-dashboard{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1000px;
     background-color: var(--color_modal_bg);
}

.container{
    margin: 0 30px;
}

.wrap-cards{
    display: flex;
    flex-direction: column;
    max-height: 630px;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
    background: #FFF;
}

.wrap-table {
    display: flex;
    flex-direction: column;
    color: #FFF;
    max-height: 630px;
    width: 100%;
}

@media(min-width: 1024px){
    .wrap-home{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }

    .page-title{
        font-size: var(--page-tittle-font-size);
    }
    
    .page-sub-title{
        font-size: var(--form-title-font-size);
    }

    .info-div{
        width: 50%;
    }
    
    .forms-div{
        width: 50%;
    }

    .container{
        margin: 0 400px;
    }

    .wrap-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-height: 730px;
        overflow-y: auto;
        width: 100%;
        padding-left: 0;
    }
    
}